.homer {
  position: relative;
  overflow: hidden;
  width: 166.5px;
  height: 125px;
}

img {
  position: absolute;
}

/* If the browser screen width is greater than 1200 pixels, display the top-left image of homer.jpg */
@media (min-width: 1200px) {
  img {
    top: 0px;
  }
}

/* If the browser screen width is greater than 1100 pixels but less than or equal to 1200 pixels, display the second image on the first row */
@media (min-width: 1101px) and (max-width: 1200px) {
  img {
    left: -166.5px;
  }
}

/* If the browser screen width is greater than 1000 pixels but less than or equal to 1100 pixels, display the first image on the second row */
@media (min-width: 1001px) and (max-width: 1100px) {
  img {
    bottom: -250px;
  }
}

/* If the browser screen width is greater than 900 pixels but less than or equal to 1000 pixels, display the second image on the second row */
@media (min-width: 901px) and (max-width: 1000px) {
  img {
    bottom: -250px;
    left: -166.5px;
  }
}

/* If the browser screen width is greater than 800 pixels but less than or equal to 900 pixels, display the first image on the third row */
@media (min-width: 801px) and (max-width: 900px) {
  img {
    bottom: -125px;
  }
}

/* If the browser screen width is greater than 700 pixels but less than or equal to 800 pixels, display the second image on the third row */
@media (min-width: 701px) and (max-width: 800px) {
  img {
    bottom: -125px;
    left: -166.5px;
  }
}

/* If the browser screen width is greater than 600 pixels but less than or equal to 700 pixels, display the first image on the fourth row */
@media (min-width: 601px) and (max-width: 700px) {
  img {
    bottom: 0px;
  }
}

/* If the browser screen width is less than or equal to 600 pixels, display the last image, bottom-right */
@media (max-width: 600px) {
  img {
    bottom: 0px;
    left: -166.5px;
  }
}